$primary-dark : rgb(53, 53, 54);
$primary-med : rgb(92, 92, 95);
$primary-light: rgba(65, 70, 100, 0.856);
$primary-lights: rgba(42, 43, 133, 0.822);
$primary-lighter: rgba(59, 57, 173, 0.568);
$primary: rgb(107, 120, 235);
$blue-light: #6fa8e0;

$secondary-lighter: rgba(28, 136, 82, 0.63);
$secondary-light: rgba(12, 66, 39, 0.63);


$dark-grey: rgb(151, 149, 149);
$off-black: rgb(17, 16, 16);
$light-black: rgba(0, 0, 0, 0.863);
$lighter-black: rgba(0, 0, 0, 0.61);
$very-light-black: rgba(0, 0, 0, 0.11);

$off-white: rgba(240, 234, 234, 0.74);
$navy-blue: rgb(27,36,47);
$navy-blue-light: rgba(27, 36, 47, 0.356)

