@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.Motion {
    padding: 7.5rem 16.5rem;
    font-family: 'Lato';
    margin-bottom: 10rem;
    height: auto;

    &__skills-container {
        display: flex;
        margin-top: 0rem;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
    } 

    &__skill-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    &__skill-card-container {
        width: 35rem;
        height: 35rem;
        margin-top: 3rem;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .336);
        padding: 0.2rem;
        margin-bottom: 1rem;
        
        
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;;
            background-color: rgba(233, 231, 229, 0.048);
            filter: blur(.5rem);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.11));
            transition: 0.75s;
            filter: blur(2rem);
        }

        &:hover::after {
            left: 100%
        }

        & span {
            position: absolute;
            display: block;
            transition: 0.5s ease;
        }

        & span:nth-child(1) {
            top: 0.1%;
            left: 0;
            width: 0;
            height: 0.2rem;
            background: rgba(163, 161, 161, 0.301)
        }

        &:hover span:nth-child(1) {
            width: 100%;
            transform: translateX(100%)
        }
    }

   
}


@include width-1100px {

    .Motion {
        

        &__skills-container {
            justify-content: center;
        }

        &__skill-card-container {
            
           width: 30rem;
           height: 30rem
        }
            
        
    }
}


@include width-800px {
    .Motion {

        &__graph-container {
            //background-color: blue;
            padding: 0;
        }

        &__skill-card-container {
        width: 18rem;
        height: 18rem;
        margin: 0;
        margin-top: 4rem;
        border-radius: 50%;
        }

    }
}

@include width-750px {
    .Motion {
        padding: 7.5rem 10rem;
        &__graph-container {
            
            margin-left: 2rem;
        }
    }
}

@include width-600px {
    .Motion {
        padding: 7.5rem 8rem;
        

    }
}



@include width-500px {
    .Motion {
        padding: 7.5rem 5rem;
        
    }
}


@include width-400px {
    .Motion {
        padding: 7.5rem 3rem;
    }
}


